.head {
  position: relative;
}
.icon {
  margin: 2% 3%;
}
.header {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 10px;
  right: 60px;
  color: rgba(0, 0, 0, 0.7);
}
.child1 {
}
.child2 {
}
.child3 {
}
.child4 {
}
.child5 {
}
.child6 {
}
.catchcopy {
  position: relative;
}
.sample1 {
  display: flex;
  justify-content: flex-end;
}
.word1 {
  font-family: "Yomogi", cursive;
  color: #c71585;
  font-size: 80px;
  position: absolute;
  bottom: 380px;
  left: 8%;
}
.blue {
  color: #00ced1;
}
.word2 {
  color: #c71585;
  position: absolute;
  font-size: 27px;
  bottom: 210px;
  left: 8%;
}
.blue2 {
  color: #00ced1;
}
.word3 {
  position: absolute;
  left: 8%;
  bottom: 160px;
}
.news {
  display: flex;
  justify-content: center;
}
.word4 {
  font-family: "Yomogi", cursive;
  color: #c71585;
  margin-left: 310px;
}
.word5 {
  margin-left: 310px;
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
}
.topic1 {
  border-top: solid 2px gray;
}
.topic2 {
  border-top: solid 1px gray;
}
.topic3 {
  border-top: solid 1px gray;
}
.topic4 {
  border-top: solid 1px gray;
}
.topic5 {
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}
.time {
  color: gray;
}
.category {
  font-size: small;
  width: 90px;
  height: 30px;
  color: white;
  background: #c71585;
  border-radius: 40%;
}
.third {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 350px;
  background: #dcdcdc;
}
.word6 {
  position: absolute;
  left: 50%;
  color: red;
}
.title1 {
  position: absolute;
  left: 40%;
  margin-top: 30px;
  font-size: large;
}
.sentence1 {
  width: 40%;
  position: absolute;
  left: 8%;
  margin-top: 100px;
}
.sample2 {
  position: absolute;
  left: 60%;
  margin-top: 100px;
}
.main {
  display: flex;
  height: 600px;
}
.content {
  background: #c71585;
  height: 100%;
  color: white;
  width: 50%;
}
.sidebar1 {
  background: #db7093;
  width: 50%;
  height: 50%;
}
.sidebar2 {
  background: #dda0dd;
  width: 50%;
  height: 50%;
}
.flex__item {
  display: flex;
  justify-content: space-between;
}
.practice__card {
  width: 30%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
.card__img img {
  width: 100%;
}
.card__content {
  padding: 15px 25px;
}
.card__ttl {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 400;
}
.tag {
  font-size: 14px;
  text-align: right;
}
.card__tag {
  display: inline-block;
  color: #008888;
}
.card__date {
  display: inline-block;
  margin-left: 20px;
  color: #888888;
}
.picture {
  display: flex;
  justify-content: space-between;
}
.picture1 {
  position: relative;
}
.comment1 {
  position: absolute;
  bottom: 130px;
  left: 250px;
  font-size: large;
  color: white;
}
.picture2 {
  position: relative;
}
.comment2 {
  position: absolute;
  bottom: 130px;
  left: 250px;
  font-size: large;
  color: white;
}
.message {
  display: flex;
  justify-content: center;
}
.botton1 {
  display: flex;
  justify-content: center;
}
.botton {
  color: white;
  padding-top: 10px;
  width: 200px;
  height: 30px;
  background: red;
  border-radius: 40px;
}
.border{
  border:solid 2px gray;
}
.company{
border:solid 2px gray;
}
.companyname{
border:solid 2px gray;
}
.human{
  border:solid 2px gray;
}
.humanname{
  border:solid 2px gray;
}
.local{
border:solid 2px gray;
}
.localname{
border:solid 2px gray;
}
.workers{
border:solid 2px gray;
}
.hundlet{
border:solid 2px gray;
}
.phone{
  border:solid 2px gray;
}
.phonenumber{
  border:solid 2px gray;
}
.money{
  border:solid 2px gray;
}
.totalmoney{
  border:solid 2px gray;
}