.head {
  position: relative;
}
.icon {
  margin: 2% 3%;
}
.header {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 10px;
  right: 60px;
  color: rgba(0, 0, 0, 0.7);
}
.child1 {
  margin-right: 5%;
}
.child2 {
  margin-right: 5%;
}
.child3 {
  margin-right: 5%;
}
.child4 {
  margin-right: 5%;
}
.child5 {
  margin-right: 5%;
}
.child6 {
}
.catchcopy {
  position: relative;
}
.sample1 {
  display: flex;
  justify-content: flex-end;
}
.word1 {
  font-family: "Yomogi", cursive;
  color: #c71585;
  font-size: 80px;
  position: absolute;
  bottom: 380px;
  left: 8%;
}
.blue {
  color: #00ced1;
}
.word2 {
  color: #c71585;
  position: absolute;
  font-size: 27px;
  bottom: 210px;
  left: 8%;
}
.blue2 {
  color: #00ced1;
}
.word3 {
  position: absolute;
  left: 8%;
  bottom: 160px;
}
.news {
  display: flex;
  justify-content: center;
}
.word4 {
  font-family: "Yomogi", cursive;
  color: #c71585;
  margin-left: 310px;
}
.word5 {
  margin-left: 310px;
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
}
.topic1 {
  color:gray;
  border-top: solid 2px gray;
  border-bottom: solid 2px gray;
  margin:0 auto;
}

.time1 {
  color: gray;
  border-bottom:solid 1px gray;
  padding: 5px 0px 5px;
  margin-top: 8px;
}
.time2{
  color: gray;
  border-bottom:solid 1px gray;
  padding: 5px 0px 5px;
}
.time3{
  color: gray;
  border-bottom:solid 1px gray;
  padding: 5px 0px 5px;
}
.time4{
  color: gray;
  border-bottom:solid 1px gray;
  padding: 5px 0px 5px;
}
.time5{
  color: gray;
  border-bottom:solid 1px gray;
  padding: 5px 0px 5px;
  margin-bottom: 8px;
}
.category {
  font-size: small;
  width: 90px;
  height: 30px;
  color: white;
  background: #c71585;
  border-radius: 50%;
}
.third {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 350px;
  background: #dcdcdc;
}
.word6 {
  position: absolute;
  left: 50%;
  color: red;
}
.title1 {
  position: absolute;
  left: 40%;
  margin-top: 30px;
  font-size: large;
}
.sentence1 {
  width: 40%;
  position: absolute;
  left: 8%;
  margin-top: 100px;
}
.sample2 {
  position: absolute;
  left: 60%;
  margin-top: 100px;
}
.main {
  display: flex;
  height: 600px;
}
.content {
  background: #c71585;
  height: 100%;
  color: white;
  width: 50%;
}
.sidebar1 {
  background: #db7093;
  width: 50%;
  height: 50%;
}
.sidebar2 {
  background: #dda0dd;
  width: 50%;
  height: 50%;
}
.blog{
  width: 80%;
  height: 100%;
  background: #dcdcdc;
  padding: 50px;
}
.flex__item {
  display: flex;
  justify-content: space-between;
}
.practice__card {
  width: 30%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
.card__img img {
  width: 100%;
}
.card__content {
  padding: 15px 25px;
}
.card__ttl {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 400;
}
.tag {
  font-size: 14px;
  text-align: right;
}
.card__tag {
  display: inline-block;
  color: #008888;
}
.card__date {
  display: inline-block;
  margin-left: 20px;
  color: #888888;
}
.picture {
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
}
.picture1 {
  background-image: url("../img/recruit.png");
  position: absolute;
  height: 200px;
  width: 50%;
  margin: auto;
}
.comment1 {
  color: white;
  font-size: large;
  margin-top: 90px;
  margin-left: 35%;
}
.picture2 {
  background-image: url("../img/interview.png");
  position: absolute;
  height: 200px;
  width: 50%;
  margin-left:50%;
}
.comment2 {
  color: white;
  font-size: large;
  margin-top: 90px;
  margin-left: 35%;
}
.message {
  display: flex;
  justify-content: center;
}
.button {
  background-color: red;
  padding-top: 10px;
  width: 200px;
  height: 30px;
  border-radius: 40px;
}
.border{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.company{
  background: #DCDCDC;
  font-weight: bold;
  width: 200px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
border:solid 2px gray;
}
.companyname{
  width: 400px;
  padding-left: 10px;
  padding-right: 50px;
border:solid 2px gray;
}
.human{
  background: #DCDCDC;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  border:solid 2px gray;
}
.humanname{
  padding-left: 10px;
  border:solid 2px gray;
}
.local{
  background: #DCDCDC;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
border:solid 2px gray;
}
.localname{
  padding-left: 10px;
border:solid 2px gray;
}
.workers{
  background: #DCDCDC;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
border:solid 2px gray;
}
.hundlet{
  padding-left: 10px;
border:solid 2px gray;
}
.phone{
  background: #DCDCDC;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  border:solid 2px gray;
}
.phonenumber{
  padding-left: 10px;
  border:solid 2px gray;
}
.money{
  background: #DCDCDC;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  border:solid 2px gray;
}
.totalmoney{
  padding-left: 10px;
  border:solid 2px gray;
}
